<?xml version="1.0" encoding="UTF-8"?>

<!-- Listening to a teleop_twist_keyboard -->
<launch>
  <!-- This node reads out the Bosch IMU BNO055 (via Adafruit Python library) -->
  <node name="Bno055_node" pkg="minibot" type="Bno055_node.py" output="screen"/>

  <!-- This node listens to the bno055_node and publishes Twist vel messages for a turtle -->
  <node name="imu_to_turtle_publisher" pkg="minibot" type="imu_to_turtle_publisher.py" output="screen"/>
</launch>
