<?xml version="1.0" encoding="UTF-8"?>

<!-- Listening to a teleop_twist_keyboard -->
<launch>
  <!-- This node reads out the Bosch IMU BNO055 (via Adartuit Python library) -->
  <node name="bno055_node" pkg="bno055_driver" type="bno055_node.py.py" output="screen"/>

  <!-- This node listens to the bno055_node node and publishes Twist vel messages -->
  <node name="imu_bno055" pkg="minibot" type="imu_bno055.py" output="screen"/>
</launch>
