<?xml version="1.0" encoding="UTF-8"?>

<!--
Listening to a joystick and controlling the robot directly (remote).
This part has to be started on a different computer than the robot.
The joystick/gamepas has to be connected to that computer, not the robot.
-->
<launch>
  <!--
  This nodes listens to joystick/gamepad input.
  Use the D-Pad buttons on the joystick/gamepad to control the motors.
  -->
  <node name="joy_node" pkg="joy" type="joy_node" output="screen"/>

  <!--
  This nodes takes the joystick input and sends out motor control messages.
  The motor control on a hardware level is started by 'roslaunch minibot motor_server' on the robot.
  -->
  <node name="joy_motor_listener" pkg="minibot" type="joy_motor_listener.py" output="screen"/>
</launch>
