<?xml version="1.0" encoding="UTF-8"?>

<!--
Starts the urg_node for the laser range finder.
This lauch file is for convenience, to have only one ssh session open - for demo purposes.
-->
<launch>
  <!-- This is for the laser Hokuyo URG04lx laser rangefinder. -->
  <node name="laser" pkg="urg_node" type="urg_node" args="/dev/ttyLaser" output="screen"/>
</launch>
